<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="layout/frontend :: head(~{::title}, ~{::link})">
		<link th:href="@{/fancybox/jquery.fancybox.css}" rel="stylesheet"/>
	</head>
	
	<body>
		<div class="container">
			<header th:insert="/layout/frontend :: cabecero"></header>
			<div th:insert="/layout/frontend :: menu"></div>
		</div>
		
		<main class="container">
			<h1>FancyBox</h1>
			<a th:href="@{/images/yoda.png}" class="fancybox">
				<img th:src="@{/images/yoda.png}" width="100" height="100" />
			</a>
		</main>
		
		<footer th:insert="/layout/frontend :: footer"></footer>
		<div th:insert="/layout/frontend :: scripts"></div>
		<script type="text/javascript" th:src="@{/fancybox/jquery.fancybox.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			$(".fancybox").fancybox({
				openEffect : 'none',
				closeEffect : 'none',
			});
			});			
		</script>
	</body>
</html>